<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>BMart | <%= title %> </title>
<body>
    <%- include('./partials/nav.ejs') %>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
          <div class="d-inline-block pt-5 mt-5"><h1>TO SUCCEED<br>YOU MUST<br>READ</h1><br><h4>Register now<br>to enjoy <em>amazing books</em><br>in our <em>library</em></h4></div>
          <div class="d-inline-block"><img class="" src="/images/Slide-One-Img.png" alt="First slide"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
          <div class="d-inline-block pt-5 mt-5 ml-5"><h1>Browse Through Our<br><em>Famous Collections</em><br>And Feed Your Mind With Our<br><em>Wealth Of Knowledge</em></h1></div>
          <div class="d-inline-block "><img class="ml-5 pl-5 mb-0 pb-0 mt-2 h-100" src="/images/book-pile.png" alt="Second slide"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
          <div class="d-inline-block pt-5 mt-5"><h1>Explore <em>Popular <br>& Trending Books</em><br> that are Perfect <br>for Every Mood</h1></div>
          <div class="d-inline-block"><img class="" src="/images/read.png" alt="Third slide"></div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" style="color: black;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" style="color: black;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     </div>
   </div>
   <div class="d-flex justify-content-center" style="background-color: rgba(255, 255, 255, 0.563); height: 500px; width: 100%;">
    <div class="style d-inline-block pt-5 mt-5">
        <h2 class="mt-2">Why Men Love Bitches</h2><br>
        <p>
            <em>Why Men Love Bitches</em> delivers a unique perspective as to why men are attracted<br>
            to a strong woman who stands up for herself. With saucy detail on every page, <br>
            this no-nonsense guide reveals why a strong woman is much more desirable than a "yes woman"<br>
            who routinely sacrifices herself.<br><br>
            It helps you know who you are, stand your ground, and relate to men on a whole new level.<br>
            Once you've discovered the feisty attitude men find so magnetic, you'll not only increase<br>
            the romantic chemistry - you'll gain your man's love and respect with far less effort.
        </p><br>
        <div>
          <a class="btn btn-primary" href="/authors/login" style="background-color: #5791ff; font-size: 25px; font-weight: bold; border-radius: 5px; color: black; border: 2px;">Read Now</a>
        </div>
    </div>
    <div class="d-inline-block mt-5">
        <img style="height: 400px; background-color: white;" src="/images/bitches-and-men.png">
    </div>
   </div>
   <div class="d-flex justify-content-center" style="background-color: rgba(255, 255, 255, 0.199); height: 500px; width: 100%;">
    <div class="style d-inline-block pt-5 mt-5">
        <h2 class="mt-2">The Subtle Art Of Not Giving A Fuck</h2><br>
        <p>
            <em>The Subtle Art Of Not Giving A Fuck</em> delivers a counterintuitive approach to living a good life.<br>
            Not giving a fuck is not about being indifferent. It just means you're comfortable with being different. <br>
            Don't say fuck it to everything in life, just to the unimportant things.<br><br>
            Whether you realize it or not, you are always choosing what to give a fuck about.<br>
            The key is to gradually prune the things you care about, <br>
            so that you only give a fuck on the most important of occasions.
        </p><br>
        <div>
        <a class="btn btn-primary" href="/book/636979da0ae8481442406f86" style="background-color: #5791ff; font-size: 25px; font-weight: bold; 
        border-radius: 5px; color: black; border: 2px;">Read Now</a>
        </div>
    </div>
    <div class="d-inline-block mt-5">
        <img style="height: 400px; background-color: none" src="/images/subtle.jpeg">
    </div>
   </div>
   <div class="d-flex justify-content-center" style="background-color: rgba(255, 255, 255, 0.563); height: 500px; width: 100%;">
    <div class="style d-inline-block pt-5 mt-5">
        <h2 class="mt-2">Good To Great</h2><br>
        <p>
            <em>Good To Great</em> examines what it takes for ordinary companies to become great<br>
            and outperform their competitors by analyzing 28 companies over 30 years, <br>
            who managed to make the transition or fell prey to their bad habits.<br><br>
            Good is the enemy of great. And that is one of the key reasons we have so little that become great.<br>
            We don't have great companies, principally because we have good companies.<br>
            Few companies attain great positions, because it is so easy to settle for a good position.
        </p><br>

        <div>
          <a class="btn btn-primary" href="/authors/login" style="background-color: #5791ff; font-size: 25px; font-weight: bold; 
          border-radius: 5px; color: black; border: 2px;">Read Now</a>
        </div>
    </div>
    <div class="d-inline-block mt-5">
        <img style="height: 400px;" src="/images/good-to-great.jpeg">
    </div>
   </div>
   <div class="d-flex justify-content-center" style="background-color: rgba(255, 255, 255, 0.199); height: 500px; width: 100%;">
    <div class="style d-inline-block pt-5 mt-5">
        <h2 class="mt-2">The Millionaire Next Door</h2><br>
        <p>
            <em>The Millionaire Next Door</em> the simple spending and saving habits that lead to more cash in the bank<br>
            than most people earn in their life while helping you avoid critical mistakes<br>
            on your way to financial independence.<br><br>
            This book explains the intricacy of today's millionaires,<br>
            people you would be surprised to find wealthy,<br>
            and the habits and decisions that got them to that wealth level.
        </p><br>
        <div>
          <a class="btn btn-primary" href="/authors/login" style="background-color: #5791ff; font-size: 25px; font-weight: bold; 
          border-radius: 5px; color: black; border: 2px;">Read Now</a>
        </div>
    </div>
    <div class="d-inline-block mt-5">
        <img style="height: 400px; background-color: none" src="/images/millionaire.jpeg">
    </div>
   </div>
    <div class="text-center" style="position: relative;">
    <img src="/images/big-image.jpg" class="w-100">
    <h1 class="" style="position: absolute; top: 30%; left: 30%; color: white; font-size: 70px; font-family: Georgia, 'Times New Roman', Times, serif;"><q>Take a good book<br>to bed with you -<br>books do not snore.</q><br><br> - Thea Dorn</h1>
   </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>





