<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <title>BMart | <%= title %></title>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="registration-form">
        <div class="col text-center py-3">
            <h1 style="font-size: 60px">Login</h1>
        </div>
         <!-- <div class="row g-6">
            <div class="col-6 offset-3 border-secondary shadow py-3 px-5 rounded"> -->
                <form action="/authors/login" method="POST">
                    <div class="form-icon">
                        <span><i class="icon icon-user"></i></span>
                    </div>
                    <div class="form-group">
                    <!-- <label for="email" class="form-label">Email</label><br> -->
                    <input type="email" class="form-control item" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <!-- <label for="password" class="form-label">Password</label><br> -->
                        <input type="password" class="form-control item" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button type="submit" id="submit"class="btn btn-primary create-account">Login</button>
                        </div>
                    </div>
                </form>
             <!-- </div> -->
        </div>


    <%- include('./partials/footer.ejs') %>
</body>
</html>